.child_item_container {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: absolute;
    :hover {
        background-color: white;
        color: black;
    }
}

.nav_box {
    display: flex;
    justify-content: space-around;
    margin-right: 450px;
    margin-top: 10px;
    height: 120px;
}

.item_name {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.child_item {
    font-weight: 400;
    padding: 1px 0;
    cursor: pointer;
    
}