.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1A1A1A;
    height: 50px;
}

.left_top{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 80px;
}

.social_media{
    display: flex;
    align-items: center;
    gap:20px;
    margin-right: 80px;
}

.free_delivery{
    font-size: 14px;
    color: #626262;
}